DARK = #3c3c3c
LIGHT = #F3F3F3

#COLOR-WHITE
	color: LIGHT

#COLOR-BLACK
	color: DARK

#BORDER-LIGHT
	border-color: #ccc
	border-style: solid

#BG-DARK
	background-color: DARK

#BG-LIGHT
	background-color: LIGHT

#FONT-MAIN
	font-family: "Helvetica"
